.loginContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: linear-gradient(to right, aliceblue, #1d9bf0);

    .loginForm{
        padding: 15px;
        border-radius: 4px;
        background: linear-gradient(to left, #c5e1fa, #1d9bf0);
        backdrop-filter: blur(10px);
        width: 350px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 0 3px aliceblue,
                    0 0 5px #fcfcfcf2;

        .loginTitle{
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .formInputs{
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-bottom: 12px;

            .formInputContainer{
                width: 100%;
                height: 25px;
                border-radius: 4px;
                position: relative;
                display: flex;
                align-items: center;

                .formInput{
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    padding: 10px 38px 10px 10px;
                    border: 2px solid #b6cfe0;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #2d4f68;
                    font-family: Poppins;
                    background-color: aliceblue;

                    &:focus ~ .formLabel{
                        color: #1d9bf0;
                        font-size: 12px;
                        top: -4px;
                        background-color: aliceblue;
                        padding: 0px 6px;
                        border-radius: 6px;
                        font-weight: 600;
                    }
                    &:focus ~ .formIcon{
                        color: #1d9bf0;
                    }
                    &:not(:placeholder-shown) ~ .formLabel{
                        font-size: 12px;
                        top: -4px;
                        background-color: white;
                        padding: 0px 6px;
                        border-radius: 6px;
                        font-weight: 600;
                        color: #1d9bf0;
                    }
                    
                }
                .formLabel{
                    position: absolute;
                    left: 10px;
                    color: #87a4bb;
                    top: 75%;
                    transform: translateY(-80%);
                    transition: all .4s;
                    pointer-events: none;
                    font-weight: 600;
                    font-size: 14px;
                }
                .formIcon{
                    position: absolute;
                    right: 10px;
                    color: #87a4bb;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .passwordIcon{
                    cursor: pointer;
                }
            }
        }

        .loginBtn{
            margin: 20px 0 10px 0;
            padding: 6px 20px;
            font-weight: 600;
            text-transform: uppercase;
            border: 1.5px solid aliceblue;
            outline: none;
            background: linear-gradient(to right, #5eb3fe, #1196ef);
            color: aliceblue;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 0 0 7px #1d9bf0;
            transition: .3s;

            &:active{
                background-color: #01548b;
            }
            &:disabled{
                cursor: not-allowed;
                background-color: #92cef0d0;
            }
        }
    }
}